<testimonial></testimonial>
<div class='email'>
    <section class="section mb-4">
        <h1 class="section-heading blue-text">About Me!</h1>
        <p class="section-description mb-5 blue-text">I became a software engineer when I was introduced to the idea of using software engineering to help improve people's lives and creating more ways to connect people throughout the world. I made a decision and went out to learn this new skill, finding and meeting new people to help teach me along the way. Then I was introduced to code programming boot camps where I enrolled in the search to sharpen my skills. Now I am excited to be graduated and in the search to find new opportunities in which I can reach my goal as a software engineer who builds products to help improve the lives of others.</p>
        <div class="col-md-5">
            <div class="card">
                <div class="card-block">
                    <div class="form-header">
                        <h3 class='blue-text'><i class="fa fa-envelope"></i> Write to me:</h3>
                    </div>
                    <br>
                    <div class="md-form">
                        <i class="fa fa-user prefix blue-text"></i>
                        <input type="text" id="form3" class="form-control">
                        <label for="form3">Your name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix blue-text"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Your Email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix blue-text"></i>
                        <input type="text" id="form32" class="form-control">
                        <label for="form32">Subject</label>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
     <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map center="37.778515, -122.421129" zoom="13" class='googleMaps'>
            <marker position="37.778515, -122.421129"></marker>
        </ng-map>
    </div>
</div>
