<div class='email container'>
    <section class="section wow fadeInUp">
        <div class="divider-new">
            <h1 class="blue-text section-heading">Contact Me!</h1>
        </div>
        <p class="blue-text section-description mb-5">If you wish to contact me here is an email form you can use to reach me!</p>
        <div class="row contact">
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" id="form51" class="form-control blue-text" ng-model='name'>
                                <label for="form51" class="">Your full name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <div class="md-form">
                                    <input type="text" id="form52" class="form-control blue-text" ng-model='sender'>
                                    <label for="form52" class="">Your email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" id="form51" class="form-control blue-text" ng-model='subject'>
                                <label for="form51" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="form76" class="md-textarea blue-text" ng-model='message'></textarea>
                                <label for="form76">Your message</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="center-on-small-only">
                    <button class='btn btn-primary' ng-click="sendEmail()">Send!!</button>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="contact-icons">
                    <li><i class="fa fa-map-marker fa-2x blue-text"></i>
                        <p class="blue-text">San Francisco, CA 94707, USA</p>
                    </li>
                    <li><i class="fa fa-phone fa-2x blue-text"></i>
                        <p class="blue-text">(510) 965-7717</p>
                    </li>
                    <li><i class="fa fa-envelope fa-2x blue-text"></i>
                        <p class="blue-text">collinlshelby@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
