<div class='container'>
    <profile></profile>
    <section class="section mb-4">
        <div class="divider-new">
            <h1 class="section-heading blue-text">About Me!</h1>
        </div>
        <p class="section-description mb-5 blue-text wow fadeInLeft">I became a software engineer when I was introduced to the idea of using software engineering to help improve people's lives and creating more ways to connect people throughout the world. I made a decision and went out to learn this new skill, finding and meeting new people to help teach me along the way. Then I was introduced to code programming boot camps where I enrolled in the search to sharpen my skills. Now I am excited to be graduated and in the search to find new opportunities in which I can reach my goal as a software engineer who builds products to help improve the lives of others.</p>
        <div class="divider-new">
            <h1 class="section-heading blue-text wow fadeInUp">Education</h1>
        </div>
        <div class="divider-new">
            <h3 class="blue-text wow fadeInUp">Dev Bootcamp August 2016 to December 2016</h3>
        </div>
        <p class="blue-text wow fadeInUp">I completed Dev Bootcamp, which is a 19-week interactive coding boot camp that teaches algorithms with Ruby and JavaScript along with teaching Ruby on Rails, Postgresql, and SQlite. It also focuses on teaching emotional empathy to create productive future members of a team. The course consisted of 8 hours every day of pair-programming Monday through Thursday to practice building good communication skills while working together. Reactjs Gulpjs AmazonWebServices</p>
        <div class="divider-new">
            <h1 class="section-heading blue-text wow fadeInUp">Experience</h1>
        </div>
        <div class="divider-new">
            <h3 class="blue-text wow fadeInUp">O'Reilly Auto Parts February 2015 to August 2015</h3>
        </div>
        <p class="blue-text wow fadeInUp">I helped customers with finding the correct part for their application and insured good customer service daily to increase foot traffic I resolved issues with customers that entered the store and found a resolution to the problem to satisfy the customers I checked the quality of parts given to commercial customers to insure they received the correct part for their application and help support their account managing while also assisting with regular customers that come through the store</p>
        <div class="divider-new">
            <h3 class="blue-text wow fadeInUp">CLASSICS BY STEVE September 2014 to November 2014</h3>
        </div>
        <p class="blue-text wow fadeInUp">I inspected multiple vehicles per day for imperfections entering and exiting the shop for service to increase trust in customers as well to increase foot traffic I performed a thorough weekly cleaning of the shop area for an increase in productivity among shop employees I performed a multitude of mechanical jobs where I would work with my fellow mechanics and collaborated to find the most efficient way of finishing the job<p>
        <div class="divider-new">
            <h3 class="blue-text wow fadeInUp">WEST COAST FAB INC September 2013 to August 2014 </h3>
        </div>
        <p class="blue-text wow fadeInUp"> My responsibilities consisted of collaborating with my coworkers daily in the morning to find the fastest plan to complete all the finished parts for the day I manufactured machined parts in the grinding room with belt sanders, disc grinders, spot welders, and other tools that were required to finish the job I collaborated with other coworkers to find the most efficient way to finish the job at hand, especially when faced with a nearing deadline and running behind schedule</p>
    </section>
</div>
