<nav class="navbar navbar-toggleable-md navbar-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand waves-effect waves-light blue-text" ui-sref="home">Home</a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link blue-text" ui-sref="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blue-text" ui-sref="information">Personal Info</a>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a ng-click="facebook()" class="nav-link"><i class="fa fa-facebook blue-text"></i></a>
                </li>
                <li class="nav-item">
                    <a ng-click="github()" class="nav-link"><i class="fa fa-github blue-text"> </i></a>
                </li>
                <li class="nav-item">
                    <a ng-click="linkedin()" class="nav-link"><i class="fa fa-linkedin blue-text"> </i></a>
                </li>
                <li class="nav-item">
                    <a ng-click="resume()" class="nav-link"><i class="fa fa-envelope blue-text"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
