<div class='portfolio'>
    <div class="divider-new">
        <h2 class='blue-text' ng-click="bearHugs()"> Bear hugs Website </h2>
    </div>
    <p class="blue-text">This website is a client project for their dog. As a about page to specify the history and life of their most amazing dog in the world. This site was created to focus and showcase the key points of the life of this amazing animal Bear. It tells his story and some info on him and his family life.</p>
    <div class="parallax"></div>

    <div class="divider-new">
        <h2 class='blue-text' ng-click="Autism()"> Autism Website </h2>
    </div>
    <p class="blue-text">This website is for the friends and family of autistic children. To help inform them of how to help better support their childrenlearning. This website is besed off of the idea that family and friends can speak and share stories and advice about their own experiences for others to read or contact them if they choose to allow it. Or the users can post anonymously, if they choose too. The hope with this website is to have a place for those who are struggling with autism to have a place to oppenly speak about their stories and find helpful information to help better their's and thier friends and families lifes.</p>
    <div class="parallax-aut"></div>
</div>
