<div class="streak streak-lg streak-photo">
    <div class="flex-center white-text pattern-1">
        <ul>
            <li>
                <h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left" aria-hidden="true"></i> The people who are crazy enough to think they can change the world are the ones who do. <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
            <li>
                <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">~ Steve Jobs</h5></li>
        </ul>
    </div>
</div>
