<div class='portfolio'>
    <div class="divider-new">
        <h2 class='blue-text' ng-click="bearHugs()"> Bear hugs Website </h2>
    </div>
    <p class="blue-text">This website is a client project for their dog. As a about page to specify the history and life of their most amazing dog in the world. This site was created to focus and showcase the key points of the life of this amazing animal Bear. It tells his story and some info on him and his family life.</p>
    <div class="parallax"></div>

    <div class="divider-new">
        <h2 class='blue-text' ng-click="Autism()"> Autism Website </h2>
    </div>
    <p class="blue-text">This website is for the friends and family of autistic children. To help inform them of how to help better support their children learning. This website is based off of the idea that family and friends can speak and share stories and advice about their own experiences for others to read or contact them if they choose to allow it. Or the users can post anonymously, if they choose too. The hope with this website is to have a place for those who are struggling with autism to have a place to openly speak about their stories and find helpful information to help better their's and there friends and families lives.</p>
    <div class="parallax-aut"></div>

    <div class="divider-new">
        <h2 class='blue-text' ng-click="magic()"> Board Game Tracker Website </h2>
    </div>
    <p class="blue-text">This website was a client project while I attended Dev Bootcamp. THe focus of the porject given by one of the staff at DBC was to create a website where the client(DBC staff member) could go online and sign up along with his friends and post the games they own along with a description about the game and its genre. Then make it possible for other users of the site which were mainly his friends to comment on the games.</p>
    <div class="parallax-magic"></div>
</div>
