<div class="container">
    <section class="section">
        <div class="divider-new">
            <h1 class="section-heading blue-text">Personal Bio</h1>
        </div>
        <div class="testimonial">
            <div class="avatar">
                <img src="https://lh3.googleusercontent.com/gbw4mnkoMdxEhIyx4-1S-81jHJVJXN-luhYYPCTfE5V11kMc0R-y1hp-Ld-dH1LIAB-3oRqMQdLSDHcLNLbdZijs95o3dFIqU_sTAFg-D1i1wNbobgWMuT0u1OuiDg-ZsQlaRx_qdv6cCLD1Io_ZhNu0MBB3XytY4SnCfenwdfCohuHDblBf9rOWj_YnDdxGy4X4lYjjhc8AjUkeUBQeixP95fbBH4koMI6vQX63zJrTBlGzCZz-xh40_Aaxd4Y3yQB1fDaTcpF9rLDw2V3SV126gM1Xd6v_CAorRmj37YjG2lUpIL7h_yjt0V1ijdjM45BWT-zj1Moe3WyQpoM94Ega6Obvdvd-BiUIHXM4xIqXu0Bxf-Jdm7fMhG20bOF1ZCbMXfdoLfdIWX1WmQjeLn8VECrggDpsDHIXo9xpOZ8NbCho24JWaJndntrIHs-KKHUevINETkQtaKNEiiq0JiKvphb0SpoHkZ9kfdGNkxDqC9oVxL4Qg1PjzPEjFDTGDX5npgy8gkTT6tDQyrpJITcbKNZA9Vi66_r3b2RrBscvJ03ZD_NSTv8dM3wEkhajNgEmdGbDLZ0T-hX826__3-jA8C8BDUzHgOM716AN6g3eEdGDV0bm=w1054-h1442-no" class="rounded-circle img-fluid" alt="First sample avatar image">
            </div>
            <div class="divider-new">
                <h4 class="blue-text">Collin Shelby</h4>
            </div>
            <h5 class="blue-text career">Software Engineer</h5>
        </div>
        <a class="carousel-item-prev left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-item-next right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </section>
</div>
