<div class="container" id='profile'>
    <section class="section">
        <div class="divider-new">
            <h1 class="section-heading blue-text">Personal Bio</h1>
        </div>
        <div class="testimonial">
            <div class="avatar">
                <img src="css/images/profile.png" class="rounded-circle img-fluid" alt="First sample avatar image">
            </div>
            <div class="divider-new">
                <h4 class="blue-text">Collin Shelby</h4>
            </div>
            <h5 class="blue-text career">Software Engineer</h5>
        </div>
        <a class="carousel-item-prev left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-item-next right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </section>
</div>
