<div class="container">
    <div class="divider-new">
        <h1 class="section-heading blue-text">An Amazing Team!!!</h1>
    </div>
    <div class="row text-center team">
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="me">
                <img src="css/selfimage.png">
            </div>
            <section class="section-text">
                <h4 class="blue-text">Collin Shelby</h4>
                <h5 class='blue-text'>Full Stack Engineer</h5>
                <p class='blue-text'>Ajax/Jquery/Github</p>
                <a ng-click="collLink()" class="icons-sm li-ic"><i class="fa fa-linkedin blue-text"> </i></a>
            </section>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAc-AAAAJDBlOGQwODE3LTU1MzgtNGQ4Ny05MjE2LTZhMDFhMGJlNWVmOA.jpg" class="rounded-circle img-fluid">
            </div>
            <h4 class="blue-text">Christain Acuna</h4>
            <h5 class='blue-text'>Software Engineer</h5>
            <p class='blue-text'>Styling/Semantic-ui/Application-Database</p>
            <a ng-click="chrisLink()" class="icons-sm li-ic"><i class="fa fa-linkedin blue-text"> </i></a>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAf1AAAAJGMyZTM3MWVmLTExNjAtNDkxYy05MDlhLTAzYjkwMGFiNWQ0Yw.jpg" class="rounded-circle img-fluid">
            </div>
            <h4 class="blue-text">John Winslow</h4>
            <h5 class='blue-text'>Software Engineer</h5>
            <p class='blue-text'>Styling/Mobile/Sessions</p>
            <a ng-click="johnLink()" class="icons-sm li-ic"><i class="fa fa-linkedin blue-text"> </i></a>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAftAAAAJDZjYjc3NmNkLTM4YmItNDhlNy05YWM0LWIwODgzNTZjYTE4YQ.jpg" class="rounded-circle img-fluid">
            </div>
            <h4 class="blue-text">Brandon Huang</h4>
            <h5 class='blue-text'>Software Engineer</h5>
            <p class='blue-text'>Styling/Mobile/Sessions</p>
            <a ng-click="branLink()" class="icons-sm li-ic"><i class="fa fa-linkedin blue-text"> </i></a>
        </div>
    </div>
    </section>
</div>
