html,
body,
header,
.view {
    height: 100%;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2E2E2E;
    }
}

.full-bg-img {
    color: #fff;
}

.view {
    background: url("https://images.unsplash.com/photo-1453856908826-6bbeda0f8490?dpr=2&auto=compress,format&fit=crop&w=376&h=565&q=80&cs=tinysrgb&crop=")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui {
    height: 1000px;
}

.streak {
    height: 300px;
}

body {
    background-color: #2E2E2E;
}

.somethings {
    height: 300px;
}

.parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1452480306336-ffdc85b78768?dpr=2&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}









