html,
body,
header,
.view {
    height: 100%;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #2E2E2E;
}

@media only screen and (max-wiydth: 768px) {
    .navbar {
        background-color: #2E2E2E;
    }
}

.full-bg-img {
    color: #fff;
}

.view {
    background: url("https://images.unsplash.com/photo-1444012830796-83db7e1db0d3?dpr=1.8181818723678589&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui {
    height: 1000px;
}

.streak {
    height: 300px;
}

body {
    background-color: #2E2E2E;
}

.somethings {
    height: 300px;
}

.parallax {
    background-image: url("https://lh3.googleusercontent.com/HVy14nZv9giXx3TWt3xdCfgy8ZHkzJ5bliN7tjIdZ5LCIBlcehIM-eH813gKDuugdc8DMauO7b1vUEuG5x21jaN9CX5izI0a1zxc34uIQRRwy6rYOe80N53G9GVMO95zP4ggX8MvDsfLZyIHpsASag_jG_GjHBfsuXlYf_B4Agjvl1WwSdjw6StculwF3FPiKf9EC4IkFs-JEx4kqoSipwgM0CM8JiadKAkSi2xRjSGqvG0b5Ckk6lzVzWxOu4y9UwxOpque9knWQB7Ji6ZzxpQQE0r9U2RzW1_Vtx3AklR6pV28wtpcyHtUuxvs4Q4SwH4efY_AJhdNEURI6Bz7qIR6zQPUC9E9rxvtRR0r1BGHip5LgpV5qc4joIK34MirmTqH2U-CX5BYkmS5rHM-vcT16XBnlssAZAWgiK7CXjiPG5baXvcYFZovYfGFyuP-wQSUe022EdC0cUXTeDqJy2hmvItJ5XHvAq8BW0C1pKTcqc1YkKpv262UL5IxqcVfwUDqUcN0Iuq-AsOizGhB05kIMlFwgzZsVN1OaGE72uxEKf1dJJ1E4dmZLJoUWjnHHHvMx6kssIM2j2B_N_sBmxxTQVta2ty8YLewZEKKZAzoyzo6kwzj=w2412-h1438-no");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-aut {
    background-image: url("https://lh3.googleusercontent.com/C7CQOseXvzMRCtAZc-YSpERtzTHpzenYSUGOXCK9X7kgDAXVGOC982LBnukaTLjB3uaFCoTBloocC6Rx-sP1jePlImm8J0IhbK7w8Y46PdfX9dUHgD_NplpkByeY_A68aMMZBEbRqnpV3cgLSKun7hd_HqxYRh8rMJsqRF68N-m5TnafPmr7S4QPuFI7bWIBbYPoClSDsbuWc_IJZP2CUm_R96sczN7nzmBHat8pkdt8hzrpP7NVx6q1LW3gTybaF1ef8dRk47-3BDh2wQH9zuMg8b68tT8v3flM5kmcKUp4Zrs7oUXm1wfjUELFLqKo5apEYxYUEEUpFJvjWn3PFiQt7p_q9F6yDa6xv-zxR3_r4DMXBc8wIw8kHK888S__knrCKl6AOQId4k7hSivhKcDoX-CNbZvh6qjY_bLg_hOaA9wG3aMUBk2Lsn30MRao5a8hpecjIzxdveLnsQ2k-Y9M3b14KxILOfrgo0sH70nIIrnyzhK2JvameGEAzol2Bq0gl0ZHywmz5QkMZncdWTXw3gdc7TBf3iKB9PMyHd0KePrG2xyaZg8aRLeEo8Qh90xrNKgfnWcx4HcRQHb_jL95YH8bcTbTK5ExwVLOYajZoTChpbvw=w2730-h1434-no");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-magic {
    background-image: url("https://lh3.googleusercontent.com/RrjXGdll0B05QDSXsA6of24l-Us79D4gdAl3d3JYaNXWmREnubiRuDJ4YpzE8sh71xfLxHxonIwpO-6HUGff-8u9BQdJE557Q9_Ob9XJwu_lMYTBEP1ZfYBKeIHoMWMsCsANIBY-svp6O5w60HC41UPR8mjklqZADphyw9iVKJ7Jsd72duGzTzHvW2aqRk0PDtnF71LUaKidLgkbC72fIrmcGrAZYST5ZO_xDS4Ur1MuIuOYerxYGKjvLYgdjgk-X4lMJ9yXZJU-ol9GFCQhnaYkjJ4m1bAFY7KorcvT53XCjD0gGdBN3chxEhQRtDuM5mH7prq4jbXCNwtA53YlAaj2vD8ajpvbpvjdts9ATRYtHmY0xnk5TT5OBlS8EuUsbR46ak4W0pJ7rw5jvE1HTTk8v6Jr0U6Ejhj6KmdsHM1-PSoO55q-9j6yBPlFlH5B334hjJqrgTjpDKvS42bkHTZz8tkMJNrD7WXa7pwzlrR_ckvs2JFSEv9EZ5iejtCiP5BCMYCVo6cPvAYj1CZ7AaRd6aM51B87PzyXUecI7m5Oi_K-peXNuQaUj-DLVvILb9Oqv5_0m_nlptZC6-gmcXymFGthDOEAkdr5EMX3Y-SFG-yhBQhK=w2270-h1442-no");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.email {
    height: 600px;
}

.avatar {
    height: 200px;
    width: 200px;
    margin-left: 450px;
    margin-bottom: 150px;
}

.section {
    text-align: center;
}

.card-block {
    margin-bottom: 30px;
}

.contact {
    margin-left: 130px;
}

.portfolio {
    text-align: center;
}












